<!--users/index_follow-->
<!--users/index_favorite-->
<!--posts/index-->

<table class='table table-hover table-inverse'>
  <% posts.each do |post| %>
    <tr>
      <td> <!--投稿主-->
        <%= link_to(post.user) do %>
          <%= image_tag post.user.get_profile_image, size:'30x30' %>
        <% end %><br>
        <%= post.user.name%><br>
        <!--フォローボタン　保留-->
        <!--%= render 'public/relationships/btn', user: current_user %-->
      </td>
      <td> <!--投稿写真-->
        <%= link_to(post_path(post.id)) do %>
          <%= image_tag post.get_image, size: '300x300' %>
        <% end %>
      </td>
      <td> <!--本文-->
        <%= post.body %>
      </td>
      <td> <!--コメント-->
        <%= link_to post_path(post.id) do %>
          <i class="fa-solid fa-comment-dots " style="color: #B197FC;"> <%= post.comments.count %></i>
        <% end %><br>
      </td>
      <td><!--いいね-->
        <%= render "public/favorites/btn", post: post %>
      </td>
     </tr>
  <% end %>
</table>

