<!--users/index_follow-->
<!--users/index_favorite-->
<!--posts/index-->
<div class="card-group">
  <% posts.each do |post| %>
  <div class="card">
    <div class="card-body">

      <div class="card-img-top"> <!--投稿写真-->
        <%= link_to(post_path(post.id)) do %>
          <%= image_tag post.get_image, size: '300x300' %>
        <% end %>
      </div>

      <div class="card-title">
        <!--% if @show_page %--><!--showページにいる時はここを表示させたくない　保留-->
            <!--投稿主-->
            <%= link_to(post.user) do %>
              <%= image_tag post.user.get_profile_image, size:'30x30' %>
            <% end %>
            <%= post.user.name%><br>
            <!--フォローボタン　保留-->
            <!--%= render 'public/relationships/btn', user: current_user %-->
        <!--% else %-->
        <!--% end %-->
      </div>

      <div class="card-text">
        <!--本文-->
        <%= post.body %><br>
        <!--コメント-->
          <%= link_to post_path(post.id) do %>
            <i class="fa-solid fa-comment-dots " style="color: #B197FC;"> <%= post.comments.count %></i>
          <% end %><br>
        <!--いいね-->
          <%= render "public/favorites/btn", post: post %>
    </div>
</div>
  <% end %>
</div>

