<div class='container'>
  <div class='row'>

    <div class='col-md-3 bg-info'>  <!--サイドバー-->
      <%= render 'layouts/sidebar' %>
    </div>

    <div class='col-md-8 offset-md-1'> <!--メインコンテンツ-->

      <!--%= render 'layouts/errors', obj: @post %-->
      <% if @post.errors.any? %> <!--バリデーションエラーメッセ-->
        <%= @post.errors.count %>件のエラーが発生しました
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>

      <h2><i class="fa-solid fa-gear fa-sm" ></i>投稿編集</h2>
      <%= form_with model: @post do |f| %>
        <h4>画像</h4>
        <%= f.file_field :post_image, accept: "image/*" %> <!--#accept属性で画像の種類を指定-->
        <h4>本文</h4>
        <%= f.text_area :body %>
        <h4>仮ラベル</h4>
        <%= f.submit '投稿',class: "btn btn-sm btn-outline-success" %>
      <% end %>

        <%= link_to 'Show', @post, class: "post_#{@post.id}",class: "btn btn-sm btn-outline-success" %>
        <!--%= link_to 'Back', posts_path, class: "back",class: "btn btn-sm btn-outline-success" %-->
        <%= link_to '戻る', :back, class:"btn btn-sm btn-outline-secondary " %>
    </div>

  </div>
</div>