<div class='container'>
  <div class='row'>

    <div class='col-md-3 bg-info'>  <!--サイドバー-->
      <h2>サイドバー</h2>
    </div>

    <div class='col-md-8 offset-md-1'> <!--メインコンテンツ-->

      <% if @post.errors.any? %>  <!--バリデーションエラーメッセ-->
        <%= @post.errors.count %>件のエラーが発生しました
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>

      <h2>仮新規POST</h2>
      <%= form_with model: @post do |f| %>
        <h4>画像</h4>
        <%= f.file_field :post_image, accept: "image/*" %>
        <h4>本文</h4>
        <%= f.text_area :body %>
        <h4>仮ラベル</h4>

        <%= f.submit '投稿',class: "btn btn-sm btn-outline-success" %>
      <% end %>
    </div>


  </div>
</div>