<div class='container'>
  <div class='row'>

    <div class='col-md-3 bg-info'>  <!--サイドバー-->
      <h2>サイドバー</h2>
    </div>

    <div class='col-md-8 offset-md-1'> <!--メインコンテンツ-->
      <h2>仮投稿詳細画面#show</h2>

      <!--%= render 'layouts/errors', obj: @post %-->
      <!--%= render 'comments/errors', obj: @comment %-->
      <!--div id ="comments-error"></div-->
      <!--コメントのバリデーションエラーメッセ入れたい-->

      <table class='table'>
        <tr>
          <td> <!--投稿主情報とリンク-->
            <%= link_to(@post.user) do %>
              <%= image_tag @post.user.get_profile_image, size:"50x50" %><br>
              <%= @post.user.name %>
            <% end %>
          </td>

          <td> <!--内容-->
            <%= image_tag @post.get_image, size: '200x200' %>
            <%= @post.created_at.strftime('%Y年%m月%d日') %>
          </td>

          <td> <!--中身-->
            <%= @post.body %>
          </td>

          <!--td class=<%= "favorite-" + @post.id.to_s %> --> <!--お気に入りボタン-->
            <!--%= render "favorites/btn", post: @post %-->
          <!--/td-->
          <!--td class="comments-counter"--> <!--コメント-->
            <!--%= render "comments/counter", post: @post %-->
          <!--/td-->

          <% if @post.user == current_user %>
            <td><!--編集-->
              <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-outline-success edit_post_#{@post.id}" %>
            </td>
            <td><!--削除-->
              <%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger destroy_post_#{@post.id}" %>
            </td>
          <% end %>
        </tr>
      </table>

      <div class="bg-success">
        <p><%= @post.comments.count %>件</p><!--コメント数-->
        <% @post.comments.each do |comment| %>
          <p><!--%= image_tag comment.user.get_profile_image(30,30) %--></p>
          <p><%= comment.user.name %></p>
          <p><%= comment.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
          <p><%= comment.message %></p>

          <% if comment.user == current_user %>
            <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-sm btn-outline-danger" %>
          <% end %>
        <% end %>
        <%= form_with model:[@post, @comment] do |f| %>
          <%= f.text_area :message, rows:'5',placeholder: "コメントを追加", class: "w-100 comment-textarea" %>
          <%= f.submit "送信する", class: "btn btn-sm  btn-outline-danger mt-20 pull-right" %>
        <% end %>
      </div>


      <div>
        <% if @post.favorited_by?(current_user) %>
          <p>
            <%= link_to post_favorite_path(@post), method: :delete do %>
              ♥<%= @post.favorites.count %> いいね
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to post_favorite_path(@post), method: :post do %>
              ♡<%= @post.favorites.count %> いいね
            <% end %>
          </p>
        <% end %>
      </div>

    </div>
  </div>
</div>

