<div class='container'>
  <div class='row'>

    <div class='col-md-2'>  <!--サイドバー-->
      <%= render 'layouts/sidebar' %>
    </div>

    <div class='col-md-9 offset-md-1'> <!--メインコンテンツ-->
      <h2 class ="font-weight-bold">
        <i class="fa-solid fa-image"></i>(仮タイトル)
      </h2>


          <td> <!--投稿主情報とリンク-->
            <%= link_to(@post.user) do %>
              <%= image_tag @post.user.get_profile_image, size:"50x50" %><br>
              <%= @post.user.name %>
            <% end %>
          </td>

          <td> <!--内容-->
            <%= image_tag @post.get_image, size: '200x200' %><br>
            <i class="fa-solid fa-calendar-days fa-sm "></i>
            <%= @post.created_at.strftime('%Y年%m月%d日') %>
          </td>

          <td> <!--中身-->
            <%= @post.body %>
          </td>
          <td><!--いいね-->
            <%= render "public/favorites/btn", post: @post %>
          </td>

          <% if @post.user == current_user %>
            <td>
              <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-outline-success edit_post_#{@post.id}" %>
            </td>
            <td>
              <%= link_to "削除", @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger" %>
            </td>
          <% end %>


      <div class="bg-warning"> <!--コメント-->
        <p>総コメント数<strong> <%= @post.comments.count %></strong>件</p>
        <!--コメント一覧-->
        <%= render 'public/comments/index', post: @post,comment: @comment %><br>
        <!--コメントフォーム-->
        <%= render 'public/comments/form', post: @post,comment: @comment %>
      </div>

    </div>
  </div>
</div>

