<div class='container'>
  <div class='row'>

    <div class='col-md-3 bg-info'>  <!--サイドバー-->
      <h2>サイドバー</h2>
    </div>

    <div class='col-md-8 offset-md-1'> <!--メインコンテンツ-->
  		<h2>仮Post detail</h2>

  		<table class='table'>
  		  <tr>
          <td> <!--投稿主情報とリンク-->
            <%= link_to(@post.user) do %>
              <%= image_tag @post.user.get_profile_image, size:"100x100" %><br>
              <%= @post.user.name %>
            <% end %>
          </td>

          <td><!--内容-->
            <%= @post.body %>
            <%= image_tag @post.get_image, size: '100x100' %>
          </td>

          <!--td class=<%= "favorite-" + @post.id.to_s %> --> <!--お気に入りボタン-->
            <!--%= render "favorites/btn", post: @post %-->
          <!--/td-->
          <!--td class="comments-counter"--> <!--コメント-->
            <!--%= render "comments/counter", post: @post %-->
          <!--/td-->

          <% if @post.user == current_user %>
            <td><!--編集-->
              <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-outline-success edit_post_#{@post.id}" %>
            </td>
            <td><!--削除-->
              <%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger destroy_post_#{@post.id}" %>
            </td>
          <% end %>
        </tr>
      </table>

    </div>

  </div>
</div>