<div class='container'>
  <div class='row'>

    <div class='col-md-3 bg-info'>  <!--サイドバー-->
      <h2>サイドバー</h2>
    </div>

    <div class='col-md-8 offset-md-1'> <!--メインコンテンツ-->
  		<h2>仮Post detail</h2>

  		<table class='table'>
  		  <tr>
          <td> <!--投稿主情報とリンク-->
            <%= link_to(@post.user) do %>
              <%= image_tag @post.user.get_profile_image, size:"50x50" %><br>
              <%= @post.user.name %>
            <% end %>
          </td>

          <td> <!--内容-->
            <%= image_tag @post.get_image, size: '200x200' %>
            <%= @post.created_at.strftime('%Y/%m/%d') %>
          </td>

          <td> <!--中身-->
            <%= @post.body %>
          </td>

          <!--td class=<%= "favorite-" + @post.id.to_s %> --> <!--お気に入りボタン-->
            <!--%= render "favorites/btn", post: @post %-->
          <!--/td-->
          <!--td class="comments-counter"--> <!--コメント-->
            <!--%= render "comments/counter", post: @post %-->
          <!--/td-->

          <% if @post.user == current_user %>
            <td><!--編集-->
              <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-outline-success edit_post_#{@post.id}" %>
            </td>
            <td><!--削除-->
              <%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger destroy_post_#{@post.id}" %>
            </td>
          <% end %>
        </tr>
      </table>

    </div>

  </div>
<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><!--%= image_tag comment.user.get_profile_image(30,30) %--></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.message %>

    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<%= form_with model:[@post, @comment] do |f| %>
  <%= f.text_area :message, rows:'5',placeholder: "コメントをここに", class: "w-100 comment-textarea" %>
  <%= f.submit "送信する", class: "btn btn-sm btn-base-1 mt-20 pull-right" %>
<% end %>



</div>