<div class='container'>
  <div class='row'>

    <div class='col-md-3 bg-info'>  <!--サイドバー-->
      <%= render 'layouts/sidebar' %>
    </div>

    <div class='col-md-8 offset-md-1'> <!--メインコンテンツ-->
      <h2><i class="fa-solid fa-image"></i>(仮タイトル)</h2>

      <!--%= render 'layouts/errors', obj: @post %-->
      <!--%= render 'comments/errors', obj: @comment %-->
      <!--div id ="comments-error"></div-->
      <!--コメントのバリデーションエラーメッセ入れたい-->

      <table class='table'>
        <tr>
          <td> <!--投稿主情報とリンク-->
            <%= link_to(@post.user) do %>
              <%= image_tag @post.user.get_profile_image, size:"50x50" %><br>
              <%= @post.user.name %>
            <% end %>
          </td>

          <td> <!--内容-->
            <%= image_tag @post.get_image, size: '200x200' %><br>
            <i class="fa-solid fa-calendar-days fa-sm "></i>
            <%= @post.created_at.strftime('%Y年%m月%d日') %>
          </td>

          <td> <!--中身-->
            <%= @post.body %>
          </td>
          <td><!--いいね-->
            <%= render "public/favorites/btn", post: @post %>
          </td>
          <!--td class=<%= "favorite-" + @post.id.to_s %> --> <!--お気に入りボタン-->
            <!--%= render "favorites/btn", post: @post %-->
          <!--/td-->
          <!--td class="comments-counter"--> <!--コメント-->
            <!--%= render "comments/counter", post: @post %-->
          <!--/td-->

          <% if @post.user == current_user %>
            <td><!--編集-->
              <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-outline-success edit_post_#{@post.id}" %>
            </td>
            <td><!--削除--><!--showページではアイコンじゃない方がいいかもしれない-->
              <%= link_to @post, method: :delete, data: { confirm: '本当に消しますか？' } do %>
                <i class="fa-solid fa-trash-can fa-xl" style="color: #dc3545"></i>
              <% end %>
              <%= link_to "削除", @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger" %>
            </td>
          <% end %>
        </tr>
      </table>

      <div class="bg-warning"> <!--コメント-->
        <p>総コメント数<strong> <%= @post.comments.count %></strong>件</p>

        <!--コメント一覧-->
        <%= render 'public/comments/index', post: @post,comment: @comment %><br>

        <!--コメントフォーム-->
        <%= render 'public/comments/form', post: @post,comment: @comment %>

      </div>

    </div>
  </div>
</div>

