<div class="bg-success">
  <% if user_signed_in? %>
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :word,required: true, placeholder: "さがしてみよう"%> <!--検索内容をwordとしてアクションに送る-->
      <%= f.select :range, options_for_select([['Post'],['User']]) %> <!--検索するモデルの選択-->
      <%= f.select :search, options_for_select([["部分","partial_match"],["完全","perfect_match"]]) %>
      <%= f.submit '検索', class: "btn btn-sm btn-outline-primary" %>
    <% end %>
  <% end %>
</div>