<div class="container bg-custom-color">
  <div class= "text-center">
    <h1>welcome to TEGAKI gram!!</h1>

    <div class="">
      <%= link_to root_path do %> <!--ロゴ-->
        <%= image_tag "logo_text_toka.png", alt: "Logo", width: 200 %>
      <% end %>
    </div>

    <div class="">
        <%= link_to 'ログイン',new_user_session_path, class: "btn btn-outline-info btn-sm  mb-3 sign_in" %><br>
        <%= link_to 'サインイン',new_user_registration_path, class: "btn btn-outline-success btn-sm  mb-3 sign_up" %><br>
        <%= link_to "ゲストログイン", public_guest_sign_in_path, class: "btn btn-outline-secondary btn-sm mb-3 sign_in", method: :post %><br>
        <%= link_to 'このサイトについて',posts_path, class: "btn btn-outline-danger btn-sm mb-3 sign_up" %>
    </div>

  </div>
</div>
