<h3>admin/homes#top</h3>
      <div> <!--ホーム-->
        <%= link_to admin_root_path,class: 'text-dark' do %>
           <i class="fa-solid fa-house fa-2xs" style="color: #2F5E63;"></i>
        <% end %>
      </div>

      <div> <!--ユーザー一覧-->
        <%= link_to admin_users_path,class: 'text-dark' do %>
           <i class="fa-solid fa-user fa-2xs" style="color: #2F5E63;"></i>
        <% end %>
      </div>

      <div> <!--検索-->
        <%= link_to admin_search_path,class: 'text-dark' do %>
           <i class="fa-solid fa-magnifying-glass fa-2xs" style="color: #2F5E63;"></i>
        <% end %>
      </div>

      <div> <!--ログアウトorログイン-->
        <%= link_to destroy_admin_session_path, method: :delete, class: 'text-dark' do %>
           <i class="fas fa-sign-out-alt" style="color: #2F5E63;"></i>
        <% end %><br>
        <%= link_to new_admin_session_path,class: 'text-dark' do %>
           <i class="fas fa-sign-in-alt" style="color: #2F5E63;"></i>
        <% end %>
      </div> 