<h2>管理者</h2>
<!--プロフ画像と名前ー-->
  <h3><%= @user.name %> さんの情報</h3>
  <%= image_tag @user.get_profile_image, size: '200x200' %><br>
  <p><%= @user.followings.count %>フォロー中</p>
  <p><%= @user.followers.count %>フォローワー</p>


  <i class="fa-solid fa-calendar-days " style="color: #2F5E63;"></i>
  <%= @user.created_at.strftime('%Y年%m月%d日') %><br>
  
  <%= @user.introduction %>
  <p>
    アカウント<%= link_to '削除', admin_user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？" } %>
  </p>