<h2>管理者</h2>
<h2>admin/users#show</h2>
<!--プロフ画像と名前ー-->
  <h3><%= @user.name %> さんの情報</h3>
  <%= image_tag @user.get_profile_image, size: '200x200' %><br>
  <!--カウント数はあってもいいけどリンクはいらないかも？-->
  <p><%= link_to "#{@user.followings.count} フォロー中", user_followings_path(@user) %></p>
  <p><%= link_to "#{@user.followers.count} フォロワー", user_followers_path(@user) %></p>

  <i class="fa-solid fa-calendar-days " style="color: #B197FC;"></i>
  <%= @user.created_at.strftime('%Y年%m月%d日') %><br>
  
  <p>自己紹介</p>
  <%= @user.introduction %>

  <p>アカウント削除ボタン</p>