<div class='container px-5 px-sm-0'>
  <div class='row'>

    <div class='col-md-3 bg-info'>  <!--サイドバー-->
      <%= render 'layouts/sidebar' %>
    </div>
  
    <div class='col-md-8 offset-md-1'>  <!--メインコンテンツー-->
      <h2><%= @user.name %>さんのプロフィールページ</h2>

      <div class="bg-warning"> <!--編集リンクの表示 DRY原則?-->
        <% if @user == current_user && @user.email != "guest@example.com" %>
          <%= link_to "プロフィールの編集", edit_user_path(@user), class: "btn btn-sm btn-outline-success" %>
        <% else %>
        <% end %>
      </div>


      <div class="bg-warning"> 
        <!--フォローボタン-->
        <%= render 'public/relationships/btn', user: @user %>
        <!--フォロー数とフォロワー数-->
        <p>フォロー中</p>
        <p><%= link_to @user.followings.count, user_followings_path(@user) %></p>
        <p>フォロワー</p>
        <p><%= link_to @user.followers.count, user_followers_path(@user) %></p>
      </div>


      <!--テンプレ化?-->
      <!--%= render 'posts/index',posts: @posts %-->
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <th>名前</th>
              <th>自己紹介</th>
              <th>フォロー中</th>
              <th>フォロワー</th>
              <th>登録日</th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td> <!--プロフ画像ー-->
                  <%= image_tag @user.get_profile_image, size: '200x200' %>
                </td>
                <td> <!--名前ー-->
                  <%= @user.name %>
                </td>
                <td> <!--いるか？-->
                  <%= @user.introduction %>
                </td>
                <td> <!--途中あとフォロー一覧リンク　フォロー関連も共通化したい-->
                  フォロー数<!--%= user.followings.count %-->
                </td>
                <td>
                  フォロワー数<!--%= user.followers.count %-->
                </td>
                <td>
                  <%= @user.created_at.strftime('%Y年%m月%d日') %>
                </td>
                <td>
                  <!--%= render "relationships/follow", user: user, options: { class: "follow-link" } %-->
                </td>
              </tr>
          </tbody>
        </table>
      <!--テンプレ化?-->

    </div>

  </div>
</div>




