<div class='container'>
  <div class='row'>
    <div class='col-md-3'><!--サイドバー-->
      <%= render 'layouts/sidebar' %>
    </div>

    <div class='col-md-9'><!--メインコンテンツー-->
      <h2 class="font-weight-bold">
        <i class="fa-solid fa-user fa-sm" ></i>
        <%= @user.name %> さんのプロフィールページ
      </h2>

      <div class="row">
        <div class="col-4"> <!--プロフ画像と登録日-->
              <%= image_tag @user.get_profile_image, size: '150x150' %><br>
              <i class="fa-solid fa-calendar-days " style="color: #B197FC;"></i>
              <%= @user.created_at.strftime('%Y年%m月%d日') %>
        </div>

        <div class="col-8">

          <div class ="row justify-content-between">
            <div class ="col">
              <%= link_to "#{@user.followings.count} フォロー中", user_followings_path(@user) %><br>
              <%= link_to "#{@user.followers.count} フォロワー", user_followers_path(@user) %>
            </div>
            <div class="col"> <!--DRY原則?-->
              <!--現在ログインしているユーザーのプロフィールページかつ、ゲストユーザーじゃない場合-->
              <% if @user == current_user && @user.email != "guest@example.com" %>
                <%= link_to edit_user_path(@user) do %>
                  <i class="fa-solid fa-gear fa-2xl" style="color: #B197FC;" ></i>
                <% end %>
              <% else %>
                <%= render 'public/relationships/btn', user: @user %>
              <% end %>
            </div>
          </div>

          <div class="lead py-5">
              <%= @user.introduction %>
          </div>
        </div>
      </div>

        <div class ="py-3 bg-light">
          <h3 class="font-weight-bold">
            <i class="fa-solid fa-images fa-sm "></i>
            投稿一覧
          </h3>
          <%= render 'public/posts/index', posts: @posts %>
        </div>
    </div>

  </div>
</div>
