<div class='container px-5 px-sm-0'>
  <div class='row'>

    <div class='col-md-3 bg-info'>  <!--サイドバー-->
      <%= render 'layouts/sidebar' %>
    </div>
  
    <div class='col-md-8 offset-md-1'>  <!--メインコンテンツー-->
      <h2><i class="fa-solid fa-user fa-sm" ></i><%= @user.name %> さんのプロフィールページ</h2>

      <!--%= render 'public/users/index',user: @user %-->
      <!--テンプレ化しようとしたが微妙に違う-->
        <table class='table table-hover table-inverse'>
          <tr>
            <td> <!--プロフ画像と名前ー-->
              <%= image_tag @user.get_profile_image, size: '200x200' %><br>
              <i class="fa-solid fa-calendar-days " style="color: #B197FC;"></i>
              <%= @user.created_at.strftime('%Y年%m月%d日') %>
            </td>
            <td>
              <%= @user.introduction %>
            </td>
            <td>
              <!--%= render "relationships/follow", user: user, options: { class: "follow-link" } %-->
              <div class=""> <!--DRY原則?-->
                <!--現在ログインしているユーザーのプロフィールページかつ、ゲストユーザーじゃない場合-->
                <% if @user == current_user && @user.email != "guest@example.com" %>
                  <%= link_to edit_user_path(@user) do %>
                    <i class="fa-solid fa-gear fa-2xl" >編集</i>
                  <% end %>
                <% else %>
                  <!--フォローボタン-->
                  <%= render 'public/relationships/btn', user: @user %>
                <% end %>
              </div>
            </td>
            <td>
              <p><%= link_to "#{@user.followings.count} フォロー中", user_followings_path(@user) %></p>
              <p><%= link_to "#{@user.followers.count} フォロワー", user_followers_path(@user) %></p>
            </td>
          </tr>
        </table>

    </div>

  </div>
</div>
