<header class="bg-light">
  <div class="container">
    <div class ="row">

    <div class ="col"> <!--ロゴとタイトル-->
      <%= link_to root_path do %>
        <%= image_tag "logo.jpg", alt: "Logo", width: 50 %>
      <% end %>
        <h2>TEGAKI gram</h2>
    </div>

    <!--表示する名前-->
    <div class="col me-3">
      <% if user_signed_in? %> <!--サインイン時-->
          こんにちは！<%= current_user.name %>さん
        <% elsif admin_signed_in? %> <!--Admin時-->
          管理者さんこんにちは!
      <% end %>
    </div>

    <div class ="col">
      <ul class="nav justify-content-end">

      <% if user_signed_in? %> <!--サインイン時-->
      <li class="nav-item"><!--プロフィール-->
        <%= link_to user_path(current_user),class: 'text-dark' do %>
           <i class="fa-solid fa-user fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </li>

      <li class="nav-item"><!--ホーム-->
        <%=  link_to posts_path ,class: 'text-dark' do %>
          <i class="fa-solid fa-house fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </li>

      <li class="nav-item"><!--ログアウト-->
        <%= link_to destroy_user_session_path, method: :delete ,class: 'text-dark' do %>
          <i class="fas fa-sign-out-alt fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </li>

      <li class="nav-item"><!--新規投稿-->
        <%= link_to new_post_path ,class: 'text-dark' do %>
          <i class="fa-solid fa-circle-plus fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </li>


      <% elsif admin_signed_in? %> <!--Admin時-->
      <li class="nav-item"> <!--ホーム-->
        <%= link_to admin_root_path,class: 'text-dark' do %>
           <i class="fa-solid fa-house fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </li>

      <li class="nav-item"><!--ユーザー一覧-->
        <%= link_to admin_users_path,class: 'text-dark' do %>
           <i class="fa-solid fa-user fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </li>

      <li class="nav-item"> <!--検索-->
        <%= link_to admin_search_path,class: 'text-dark' do %>
           <i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </li>

      <li class="nav-item"><!--管理者ログアウト-->
        <%= link_to destroy_admin_session_path, method: :delete, class: 'text-dark' do %>
           <i class="fas fa-sign-out-alt" style="color: #B197FC;"></i>
        <% end %>
      </li>

      <% else %> <!--Nobody-->
      <li class="nav-item">
        <%= link_to new_user_registration_path, class: 'text-dark' do %>
          <i class="fas fa-user-plus"></i> 新規会員登録
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to new_user_session_path,class: 'text-dark' do %>
          <i class="fas fa-sign-in-alt"></i> ログイン
        <% end %>
      </li>

      <li class="nav-item"> 
        <%= link_to new_user_session_path,class: 'text-dark' do %>
          <i class="fas fa-sign-in-alt"></i> このサイトについて
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to new_admin_session_path,class: 'text-dark' do %>
           <i class="fas fa-sign-in-alt" style="color: #B197FC;"></i>開発用！管理者ログイン
        <% end %>
      </li>
    <% end %>
    </div>
  </ul>

</header>