<div class="d-flex flex-column bg-light">
  <h3>仮Sidebar</h3>
  <ul class="nav nav-pills flex-column mb-auto">

    <% if user_signed_in? %> <!--サインイン時-->
      <li class="nav-item">
        <%= link_to user_path(current_user),class: 'btn' do %>
           <i class="fa-solid fa-user fa-xl " style="color: #B197FC;"></i>プロフィール
        <% end %>
      </li>

      <li class="nav-item">
        <%=  link_to posts_path ,class: 'btn' do %>
          <i class="fa-solid fa-house fa-xl " style="color: #B197FC;"></i>ホーム
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete ,class: 'btn' do %>
          <i class="fas fa-sign-out-alt fa-xl " style="color: #B197FC;"></i>ログアウト
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to new_post_path ,class: 'btn' do %>
          <i class="fa-solid fa-circle-plus fa-xl" style="color: #B197FC;"></i>新規ポスト
        <% end %>
      </li>

    <%
=begin%>
 <% elsif admin_signed_in? %> <!--Admin時-->
    <% else %> <!--Nobody-->

      <li class="nav-item">
        <%=  link_to posts_path ,class: 'btn' do %>
          <i class="fa-solid fa-house fa-xl " style="color: #B197FC;">ホーム</i>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to new_user_registration_path, class: 'btn' do %>
          <i class="fas fa-user-plus fa-xl " style="color: #B197FC;"></i> 新規会員登録
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to new_user_session_path ,class: 'btn' do %>
          <i class="fas fa-sign-in-alt fa-xl " style="color: #B197FC;"></i> ログイン
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to new_user_session_path ,class: 'btn' do %>
          <i class="fas fa-sign-in-alt fa-xl " style="color: #B197FC;"></i> ゲストログイン
        <% end %>
      </li> 
<%
=end%>
    <% end %>
  </ul>
</div>