<div class="">

  <div class="text-center">
    <% if user_signed_in? %> <!--サインイン時-->
      <div>
        <%= link_to user_path(current_user),class: 'text-dark' do %>
           <i class="fa-solid fa-user " style="color: #B197FC;">プロフィール</i>
        <% end %>
      </div>

      <div>
        <%=  link_to posts_path ,class: 'text-dark' do %>
          <i class="fa-solid fa-house " style="color: #B197FC;">ホーム</i>
        <% end %>
      </div>
        <%=  link_to index_favorite_user_path(current_user) ,class: 'text-dark' do %>
          <i class="fa-solid fa-thumbs-up " style="color: #B197FC;">いいねした投稿</i>
        <% end %>
      <div>

      </div>
        <%=  link_to index_follow_user_path(current_user) ,class: 'text-dark' do %>
          <i class="fa-solid fa-thumbs-up " style="color: #B197FC;">フォロー中のユーザーの投稿</i>
        <% end %>
      <div>
      </div>

      <div>
        <%= link_to destroy_user_session_path, method: :delete ,class: 'text-dark' do %>
          <i class="fas fa-sign-out-alt" style="color: #B197FC;">ログアウト</i>
        <% end %>
      </div>

      <div>
        <%= link_to new_post_path ,class: 'text-dark' do %>
          <i class="fa-solid fa-circle-plus fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </div>

      <div>
        <%= render 'public/searches/form' %><!--検索窓-->
      </div>

    <!--% elsif %--> <!--Admim時-->


    <% else %> <!--Nobody-->
      <div>
        <%=  link_to posts_path ,class: 'text-dark' do %>
          <i class="fa-solid fa-house fa-2xs" style="color: #B197FC;">ホーム</i>
        <% end %>
      </div>

      <div>
        <%= link_to new_user_registration_path, class: 'text-dark' do %>
          <i class="fas fa-user-plus" style="color: #B197FC;"></i> 新規会員登録
        <% end %>
      </div>

      <div>
        <%= link_to new_user_session_path ,class: 'text-dark' do %>
          <i class="fas fa-sign-in-alt" style="color: #B197FC;"></i> ログイン
        <% end %>
      </div>

      <div>
        <%= link_to new_user_session_path ,class: 'text-dark' do %>
          <i class="fas fa-sign-in-alt" style="color: #B197FC;"></i> ゲストログイン
        <% end %>
      </div>

    <% end %>

  </div>

  </div>